<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:name=".MyActivity"
    package="edu.wit.mobileapp.spotmebro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-sdk android:targetSdkVersion="26"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/spotmebro"
        android:label="@string/app_name"
        android:roundIcon="@drawable/spotmebro"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sign_up" />
        <activity android:name=".Date_Adder" />
        <activity android:name=".Matches_Page" />
        <activity android:name=".Main_Page" />
        <activity android:name=".User_Profile" />
        <activity android:name=".Matches_Profile" />
        <activity android:name=".HourMatches" />
        <activity android:name=".Profile_Preference_Editor" />
        <activity android:name=".Forgot" />
        <activity android:name=".PreferenceEditor" />
        <activity
            android:name=".Main_Page2"
            android:label="@string/title_activity_main__page2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Conversations" />
        <activity android:name=".Messages" />
        <activity android:name=".DeleteConversations" />
        <activity android:name=".Help" />
        <activity android:name=".ProfileEditor"/>
    </application>

</manifest>